{% extends "a2_market/base.html" %}

{% block content %} 
<h1>Our Mission</h1>

<div class="container">
    <div>
      <p>UVA Thrift connects UVA students through sustainable commerce, making it easy to buy and sell pre-loved items while reducing waste and supporting our community.</p>
    </div>
</div>

<h1>Why Second-Hand Shopping Matters</h1>
    <h2>Environmental Impact</h2>
    <h2>Save Money</h2>


<h1>Our Policies</h1>
<div class="container">
    <div>
      <p>Add text here.</p>
    </div>
</div>

{% endblock %}


