<!-- General HTML file that each page of the app will extend-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>UVA Thrift</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'a2_market/style.css' %}">
    <!-- Allow for unique styling for each page of the application -->
    {% block css %} 
    {% endblock %}
  </head>
  <body>
    <!-- Navigation bar will appear on each page of our application-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a href="#" class="navbar-brand">UVA Thrift</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <!-- Display buttons that represent the core functionalities of our app on the left side of the dashboard-->
          <div class="navbar-nav">
            <a href="/market" class="nav-item nav-link active">Browse</a>
            <a href="/market" class="nav-item nav-link active">New Post</a> <!--REPLACE WITH ACTUAL URL-->
            <a href="/about" class="nav-item nav-link active">About</a>
            <a href="{{ request.session.user_URL}}" class="nav-item nav-link active">Profile</a>
            <a href="{% url 'messaging:chat-list' %}" class="nav-item nav-link active">Messages</a>
            <a href="{% url 'messaging:notifications' %}" class="nav-item nav-link active">Notifications
              {% if unread_count > 0 %}
                <span class="badge">{{ unread_count }}</span>
              {% endif %}
            </a>
          </div>
          <!-- Display first name of user and button to sign out on right side of dashboard-->
          <div class="navbar-nav ms-auto">
            <span class="navbar-text">
              {{ request.session.user_data.given_name }}
            </span>
            <a href="/login/sign-out" class="nav-item nav-link active">Sign Out</a>
          </div>
        </div>
      </div>
    </nav>

    <!-- Allow for different content to be added on each page of the application -->
    <div class="container mt-4">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>